<!doctype html>
<html>
<head>
  <title>Demo Day Project</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="styleProfile.css">
</head>
<body>

  <div class="container">
    <div class="page-header text-center">
      <h5><span><img src="/img/Bitmap.png" alt=""></span>React <a href="/logout" id="logoutButton" class="btn btn-default btn-sm">Logout</a></h5>
      <h1><span class="fa fa-flask"></span> Labs</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>Lab List</h3>
        <ul class="reports">
          <% for(var i=0; i< reports.length; i++) {%>
            <% if (user.local.email == reports[i].username) { %> <!-- for all reports we have, only display the reports that were made by this user -->
              <li class="message">
                <span><%= reports[i].username%></span>
                <span><a href="/report/<%= reports[i]._id %>"><%= reports[i].labTitle %></a></span>
                <span><i id="<%= reports[i]._id %>" class="fa fa-trash" aria-hidden="true"></i></span>
                <span><a class="renderReport" href="/render/<%= reports[i]._id %>">Render Report</a></span>
              </li>
              <% } %>
              <% } %>
            </ul>
      </div>

          <% if (user.local.email) { %>
            <form action="/reports" method="POST">
              <input class="labList" type="text" value="<%= user.local.email %>" name="name">
              <input class="labList" type="text" placeholder="Lab Name" name="labTitle"><br>
              <button id="createLabButton" type="submit">Create Lab</button>
            </form>
      </div>
          <% } %>
        </div>
        <script src="main.js"></script>
        <script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
      </body>
      </html>
