<!doctype html>
<html>
<head>
    <title>Demo Day</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="/molecule.css">
    <!-- O -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="/report.css">
    <script> // keep the sections on the page in sync with our data model  - when i change something on the page and hit save, the data that I am sending is the most up to date data, doing a full replace so need the complete report
      let report = <%- JSON.stringify(report) %>
    </script>
</head>
<body>
<!-- without = is for if / for statements ()
  with = its a value you are writing to the page  -->
  <h3><span><img src="/img/Bitmap.png" alt=""></span>React</h3>
  <textarea class="labTitle" placeholder="Lab Title"><%= report.labTitle %></textarea>
  <div id="sections">
    <% for(var i=0; i< report.sections.length; i++) {%>
      <div class="section" id="<%= report.sections[i].id %>">
        <%   if(report.sections[i].type == 'title'){ %> <!-- Each section has a type; and based on that type we want to display it differently so we render titles as H2 and render bodies as p tags; type is a field on the section -->
             <h2 contenteditable="true" data-pos="<%= i %>" class="sectionTitle sectionText"><%= report.sections[i].text %></h2>
        <%   }else if(report.sections[i].type == 'body'){%>
             <p contenteditable="true" data-pos="<%= i %>" class="sectionBody sectionText">
               <%= report.sections[i].text %></p>
        <%   }else if(report.sections[i].type == 'img'){%>
            <%- report.sections[i].rxnImg %> <!-- WANT TO ADD AN IMAGE TYPE -->
          <% }%>
          <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      </div>
        <% } %>
  </div>
  <button id="addSectionTitle" type="button" name="addSection">Add Section Title</button>
  <button id="addSectionBody" type="button" name="addSection">Add Section Body</button>
  <button id="addReactionImage" type="button" name="button">Add Reaction Image</button><br>
  <button id="saveReport" type="button" name="button">Save Report</button>
  <script src="/report.js" type="text/javascript"></script>

  <div class="" id="moleculeBoard">
   <iframe width="100%" height="600" id="ketcher-frame" src="/ketcher.html" scrolling="no">
   </iframe>
   <script src="/molecule.js" type="text/javascript"></script>
 </div>

</body>
</html>
